.card img {
  height: 180px;
  object-fit: cover;
}
.card img:hover {
  transform: scale(1.05);
}
.category-card {
  transition: transform 0.3s ease;
  cursor: pointer;
}
.category-card:hover {
  transform: scale(1.05);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     background-color:rgb(255, 255, 233)
}
body{
   background-color:rgb(255, 255, 233)
}